{% load static %}


<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Fake News Detection</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>

	
	</head>
    <body>

        <div class="overlay"></div>
        
        <section class="cd-hero">

          <div class="cd-slider-nav2">
            <nav>
              <span class="cd-marker item-1"></span>
              <ul>

                <li class="selected"><a href="/"><div class="image-icon">
				<img src="{%static 'img/home-icon.png'%}"></div><h6>Home</h6></a></li>

              
                <li class="selected"><a href="user"><div class="image-icon">
				<img src="{%static 'img/about-icon.png'%}"></div><h6>Users</h6></a></li>

              </ul>
            </nav> 
          </div> 

          <ul class="cd-hero-slider">

            <li class="selected">
              <div class="heading">
                <h1>FAKE NEWS DETECTION</h1>
                <span>Detecting Fake News Over Online Social Media via Content Understanding
</span>
              </div>
              <div class="cd-full-width first-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content first-content">

						{% block content %}
                        <h1>Welcome..</h4>
                        <!-- <p>Newline is free CSS template by TemplateMo. Credits go to <a href="https://videos.pexels.com/videos/busy-street-in-the-city-1089" target="_blank">Pexels.com</a> for a video background and <a href="http://unsplash.com" target="_blank">Unsplash</a> for images. Please tell your friends about TemplateMo and this is a way to help back. Thank you. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum convallis mi. In dapibus auctor dictum donec mattis quis eros ultricies feugiat.</p>
                        <div class="primary-button">
                          <a href="#">Discover More</a>
                        </div>
                      --> 
					  
					  {% endblock %}
					  
					  </div>
                    </div>
                  </div>                  
                </div>
              </div>
            </li>



            

        <footer>
          <p>Copyright &copy; Batch No 14---GITAM University</p>
        </footer>
    
        
    </body>
</html>