{% extends 'index.html' %}
{% block content %}
<font size="+1" color="red">{{msg}}
</font>
<center>
<h2>User Registration</h2>
<br>
<br><form method="post" action="uregaction">
	{% csrf_token %} 
<table  width="50%" cellspacing="10">
                    <tr><td><input class="form-control"  type="text" name="name" placeholder="Name" required="required" ></input><br></td></tr>
                    <tr><td><input class="form-control"  type="email" name="mail" placeholder="Email, example@example.com" required="required" onblur="validate1()"></input><br></td></tr>
                    <tr><td><input class="form-control"  type="Password" name="pwd" placeholder="Password" required="required" onblur="validate5()"></input><br></td></tr>
                    <tr><td><input class="form-control"  type="text" name="zip" placeholder="PinCode" required="required" onblur="validate3()"></input><br></td></tr>
                    <tr><td><input class="form-control"  type="number" name="age" placeholder="Age" min="0" max="100" required="true"></input><br></td></tr>
                    <tr><td><table><tr><td>
					<input   type="radio" name="gen"  value="male" checked>Male</input><td><input   type="radio" name="gen"  value="female">FeMale</input></table></tr>
					<tr><td><br><input type="submit" class="form-control" value="Register">
                
</table>
</form>

{% endblock %}